.my-page-container {
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
}
.result-container {
  flex: 1;
}
.result-img-content {
  position: absolute;
  height: auto;
  width: 160px;
  top: 10px;
  right: 43%;
  max-height: 260px;
  overflow: hidden;
}
.result-sumary-content {
  position: absolute;
  height: 230px;
  width: 40%;
  top: 0px;
  right: 1%;
  overflow: auto;
}
/** 中间内容 **/
.result-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #ffffff;
  position: relative;
}
.result-body .result-content-item {
  display: flex;
  padding: 10px 20px 30px 20px;
  position: relative;
}
.result-body .result-content-item .content-filed-item {
  display: flex;
  justify-content: flex-start;
  padding: 4px 5px;
}
.result-body .result-content-item .result-content-img {
  margin: 8px 10px 0 10px;
  width: 160px;
  cursor: pointer;
  display: inline-table;
}
.result-body .result-content-item .result-content-img img {
  height: auto;
  width: 100%;
}

.result-body .result-content-item .content-filed-item .title {
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}
.result-body .result-content-item .content-filed-item .tips-title {
  font-size: 14px;
  display: inline-block;
  height: 100%;
  width: 150px;
  line-height: 24px;
  white-space: nowrap;
  color: #999999;
}
.result-body .result-content-item .content-filed-item .sec-align {
  position: absolute;
  left: 300px;
}
.result-body .result-content-item .content-filed-item .tips-value {
  font-size: 14px;
  display: inline-block;
  height: 100%;
  line-height: 24px;
  flex: 1;
}
.result-body .result-content-item .content-filed-item .tips-value-fix {
  font-size: 14px;
  display: inline-block;
  height: 100%;
  line-height: 24px;
  max-width: 350px;
}
.fmgk-img {
  height: 28px;
  width: 90px;
  background-image: url(../../images/search/fmgk.png);
  display: inline-block;
}
.yq-img {
  height: 28px;
  width: 90px;
  background-image: url(../../images/search/yq.png);
  display: inline-block;
}
.fmsq-img {
  height: 28px;
  width: 90px;
  background-image: url(../../images/search/fmsq.png);
  display: inline-block;
}
.syxx-img {
  height: 28px;
  width: 90px;
  background-image: url(../../images/search/syxx.png);
  display: inline-block;
}
.common-img {
  height: 28px;
  width: 90px;
  line-height: 28px;
  text-align: center;
  background-image: url(../../images/search/common-status.png);
  background-size: 90px 28px;
  color: #ffffff;
}
.red-back {
  height: 28px;
  width: 90px;
  line-height: 28px;
  text-align: center;
  background-image: url(../../images/search/red-back.png);
  background-size: 90px 28px;
  color: #ffffff;
}
.green-back {
  height: 28px;
  width: 90px;
  line-height: 28px;
  text-align: center;
  background-image: url(../../images/search/green-back.png);
  background-size: 90px 28px;
  color: #ffffff;
}
.blue-back {
  height: 28px;
  width: 90px;
  line-height: 28px;
  text-align: center;
  background-image: url(../../images/search/blue-back.png);
  background-size: 90px 28px;
  color: #ffffff;
}
.brown-back {
  height: 28px;
  width: 90px;
  line-height: 28px;
  text-align: center;
  background-image: url(../../images/search/brown-back.png);
  background-size: 90px 28px;
  color: #ffffff;
}
.brown-back2 {
  height: 28px;
  width: 120px;
  line-height: 28px;
  text-align: center;
  background-image: url(../../images/search/brown-back2.png);
  background-size: 120px 28px;
  color: #ffffff;
}
.orange-back {
  height: 28px;
  width: 90px;
  line-height: 28px;
  text-align: center;
  background-image: url(../../images/search/orange-back.png);
  background-size: 90px 28px;
  color: #ffffff;
}
.default-img {
  height: 28px;
  min-width: 90px;
  line-height: 28px;
  text-align: center;
  background-image: url(../../images/search/default-back.png);
  background-size: 100% 28px;
  color: #ffffff;
}
.wgsj-img {
  height: 28px;
  width: 90px;
  background-image: url(../images/search/wgsj.png);
  display: inline-block;
}
/** 右侧列表 **/
.result-list {
  background: #ffffff;
  display: flex;
  flex-direction: column;
}
.result-list .result-list-title {
  font-family: PingFangSC-Semibold;
  font-size: 16px;
  color: #333333;
  height: 80px;
  line-height: 80px;
  padding: 0 15px;
  display: flex;
  align-items: center;
  position: relative;
}
.title-block {
  background-image: linear-gradient(179deg, #5268d3 0%, #5ba0d8 100%);
  height: 14px;
  width: 4px;
  display: inline-block;
  margin-right: 20px;
}
.result-list .title-count {
  color: #1e48ac;
  position: absolute;
  right: 20px;
}
.result-list .result-list-content {
  flex: 1;
  overflow: auto;
}
.result-list .result-list-item {
  height: 75px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  border-bottom: 1px solid #e8e9ea;
  padding: 10px 35px;
}
.result-list .result-list-item.active {
  background-image: linear-gradient(90deg, #5268d3 0%, #5ba0d8 100%);
  color: #ffffff;
}
.result-list .result-list-item .subtitle {
  color: #999999;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  margin-left: 22px;
}
.result-list .result-list-item .subtitle.active {
  color: #ffffff;
}
.result-list .result-list-item .title {
  color: #333333;
  text-overflow: ellipsis;
  /* white-space: nowrap; */
  overflow: hidden;
  line-height: 18px;
  max-height: 36px;
  display: inline-block;
}
.result-list .result-list-item .title.active {
  color: #ffffff;
}

.result-footer {
  width: 100%;
}
/* 分页 */
.result-footer .layui-field-title {
  margin: 0;
}
.result-footer .layui-laypage a,
.layui-laypage span {
  border-radius: 6px;
  height: 24px;
  width: 24px;
  padding: 0;
  text-align: center;
  margin: 0 3px 5px 3px;
}
.layui-laypage a:hover {
  color: #5268d3;
}
.result-footer .layui-laypage .layui-laypage-curr .layui-laypage-em {
  background-image: linear-gradient(179deg, #5268d3 0%, #5ba0d8 100%);
  border-radius: 6px;
}

.result-footer #pageNavagete {
  display: flex;
  justify-content: flex-end;
  padding: 0 15px 0 0;
}

.result-common-title {
  display: flex;
  justify-content: flex-start;
  padding: 14px 25px 4px 25px;
  align-items: center;
  height: 54px;
  line-height: 36px;
}
/** 权利要求书 **/
#claimsContent {
  padding: 20px;
  line-height: 30px;
  letter-spacing: 2px;
  white-space: pre-line;
}
#specificationContent {
  line-height: 30px;
  letter-spacing: 2px;
  padding: 25px;
  white-space: pre-line;
}
.claim-item {
  line-height: 32px;
  display: flex;
  padding: 4px 5px;
}

.over-flex {
  flex: 1;
  overflow-y: auto;
  position: relative;
  padding: 10px 20px;
}
/** 表格 **/
.table-self-content .layui-table thead {
  font-size: 14px;
  color: #999999;
}
.table-self-content .layui-table td {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #333333;
  line-height: 32px;
}
.result-body .no-data-onepage {
  z-index: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  color: #999999;

  line-height: 51px;
  text-align: center;
}
.zoom-in {
  cursor: -moz-zoom-in;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}
