.detailInfo {
  position: relative;
}

.detailInfo .table-container-common {
  display: flex;
  flex-direction: column;
  /* height        : 100%; */
}

.detailInfo .table-container-common .picture-div {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.no-data-onepage {
  z-index: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  color: #999999;

  line-height: 51px;
  text-align: center;
}

.no-data-onepage img {
  margin-left: 16px;
}